<!-- FOOTER -->
<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer-wrapper">
      <div class="contacts-wrapper">
        <h3 class="footer-subtitle">Контакти</h3>
        <a class="contacts-link" href="mailto:daryaorel88@gmail.com"
          >daryaorel88@gmail.com</a
        >
        <a class="contacts-link" href="tel:+48788614826 ">+48788614826 </a>
      </div>
      <div class="socials-wrapper">
        <h3 class="footer-subtitle">Соц.мережі</h3>
        <ul class="socials-list">
          <li class="socials-list-item">
            <a
              class="socials-list-link"
              href="https://booksy.com/en-us/"
              aria-label="link to booksy"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="20" height="20">
                <use href="./img/sprite.svg#booksy-icon"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list-item">
            <a class="socials-list-link" href="https://www.instagram.com/">
              <svg width="20" height="20">
                <use href="./img/sprite.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list-item">
            <a class="socials-list-link" href="https://www.facebook.com/">
              <svg width="20" height="20">
                <use href="./img/sprite.svg#facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list-item">
            <a class="socials-list-link" href="https://www.viber.com/en/">
              <svg width="20" height="20">
                <use href="./img/sprite.svg#viber-icon"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list-item">
            <a class="socials-list-link" href="https://www.viber.com/en/">
              <svg width="20" height="20">
                <use href="./img/sprite.svg#whatsapp-icon"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list-item">
            <a class="socials-list-link" href="https://web.telegram.org/a/">
              <svg width="20" height="20">
                <use href="./img/sprite.svg#telegram-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright">&#169; 2023 Всі права захищенні</p>
  </div>
</footer>
