<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="nav-logo" title="logo">
        <svg class="nav-logo-icon">
          <use href="./img/sprite.svg#logo-icon"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about" class="nav-link">Про мене</a>
        </li>

        <li class="nav-item">
          <a href="#portfolio" class="nav-link">Портфоліо</a>
        </li>
        <li class="nav-item">
          <a href="#price" class="nav-link">Прайс</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
