<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="nav-logo" title="logo">
        <svg class="nav-logo-icon">
          <use href="./img/sprite.svg#logo-icon"></use>
        </svg>
      </a>

      <button
        class="menu-btn js-open-menu"
        type="button"
        title="open mobile menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="Menu open button"
        data-menu-open-btn
      >
        <svg class="" width="20" height="20">
          <use href="./img/sprite.svg#menu-open-icon"></use>
        </svg>
      </button>
      <div class="mobile-backdrop js-menu-container">
        <div class="menu-container">
          <button
            class="menu-btn menu-close-btn js-close-menu"
            type="button"
            title="close mobile menu"
          >
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#menu-close-icon"></use>
            </svg>
          </button>

          <ul class="nav-list">
            <li class="nav-item">
              <a href="#about" class="nav-link js-close-menu">Про мене</a>
            </li>

            <li class="nav-item">
              <a href="#portfolio" class="nav-link js-close-menu">Портфоліо</a>
            </li>
            <li class="nav-item">
              <a href="#price" class="nav-link js-close-menu">Прайс</a>
            </li>
            <li class="nav-item">
              <a href="#contacts" class="nav-link js-close-menu">Контакти</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
