<!-- MAP -->
<section class="map-section">
  <div class="container">
    <h2 class="visually-hidden">Map</h2>
    <div class="map-thumb">
      <ul class="map-list">
        <li class="map-list-item">
          <p class="map-text" lang="pl-PL">Zygmunta Krasińskiego 63</p>
        </li>
        <li class="map-list-item">
          <p class="map-text" lang="pl-PL">01-755 Warszawa</p>
        </li>
        <li class="map-list-item">
          <p class="map-text" lang="pl-PL">Żoliborz</p>
        </li>
      </ul>

      <div class="map-wrapper">
        <iframe
          class="iframe-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1221.0444809175715!2d20.964338258353575!3d52.2599295501262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb97b263a3cf%3A0x19d973d12da35f!2zWnlnbXVudGEgS3Jhc2nFhHNraWVnbyA2MywgMDEtNzU1IFdhcnN6YXdhLCDQn9C-0LvRjNGJ0LA!5e0!3m2!1suk!2shu!4v1707483467860!5m2!1suk!2shu"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
