<!-- PORTFOLIO -->
<section class="portfolio">
  <div class="container">
    <h2 class="section-title section-title-dark section-title-portfolio">
      Портфоліо
    </h2>

    <!-- <ul class="portfolio-list js-portfolio"></ul> -->
    <ul class="portfolio-list js-portfolio">
      <li class="portfolio-list-item" data-id="1">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img1.jpg 1x, ./img/portfolio/img1@2x.jpg 2x"
            src="./img/portfolio/img1.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item" data-id="2">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset=".img/portfolio/img2.jpg 1x, ./img/portfolio/img2@2x.jpg 2x"
            src="./img/portfolio/img2.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item" data-id="3">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img3.jpg 1x, ./img/portfolio/img3@2x.jpg 2x"
            src="./img/portfolio/img3.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item" data-id="4">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img4.jpg 1x, ./img/portfolio/img4@2x.jpg 2x"
            src="./img/portfolio/img4.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="5">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img5.jpg 1x, ./img/portfolio/img5@2x.jpg 2x"
            src="./img/portfolio/img5.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="6">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img6.jpg 1x, ./img/portfolio/img6@2x.jpg 2x"
            src="./img/portfolio/img6.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="7">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img7.jpg 1x, ./img/portfolio/img7@2x.jpg 2x"
            src="./img/portfolio/img7.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="8">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img8.jpg 1x, ./img/portfolio/img8@2x.jpg 2x"
            src="./img/portfolio/img8.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="9">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="./img/portfolio/img9.jpg 1x, ./img/portfolio/img9@2x.jpg 2x"
            src="./img/portfolio/img9.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="10">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img10.jpg    1x,
              ./img/portfolio/img10@2x.jpg 2x
            "
            src="./img/portfolio/img10.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="11">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img11.jpg    1x,
              ./img/portfolio/img11@2x.jpg 2x
            "
            src="./img/portfolio/img11.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="12">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img12.jpg    1x,
              ./img/portfolio/img12@2x.jpg 2x
            "
            src="./img/portfolio/img12.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="13">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img13.jpg    1x,
              ./img/portfolio/img13@2x.jpg 2x
            "
            src="./img/portfolio/img13.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="14">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img14.jpg    1x,
              ./img/portfolio/img14@2x.jpg 2x
            "
            src="./img/portfolio/img14.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="15">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img15.jpg    1x,
              ./img/portfolio/img15@2x.jpg 2x
            "
            src="./img/portfolio/img15.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="16">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img16.jpg    1x,
              ./img/portfolio/img16@2x.jpg 2x
            "
            src="./img/portfolio/img16.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="17">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img17.jpg    1x,
              ./img/portfolio/img17@2x.jpg 2x
            "
            src="./img/portfolio/img17.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
      <li class="portfolio-list-item visually-hidden" data-id="18">
        <div class="set-img-wrapper">
          <img
            class="js-portfolio-img"
            srcset="
              ./img/portfolio/img18.jpg    1x,
              ./img/portfolio/img18@2x.jpg 2x
            "
            src="./img/portfolio/img18.jpg"
            alt="hair style"
            loading="lazy"
          />
        </div>
      </li>
    </ul>
    <button class="button js-button" type="button">Показати більше</button>
  </div>
</section>
