<!-- PORTFOLIO -->
<section class="portfolio">
  <div class="container">
    <h2 class="section-title section-title-dark section-title-portfolio">
      Портфоліо
    </h2>

    <ul class="portfolio-list">
      <li class="large">
        <div class="set-img-wrapper">
          <img src="../img/portfolio/set-1-img-1.jpg" alt="" />
        </div>
      </li>
      <li>
        <div class="set-img-wrapper">
          <img src="../img/portfolio/set-1-img-2.jpg" alt="" />
        </div>
      </li>
      <li class="large">
        <div class="set-img-wrapper">
          <img src="../img/portfolio/set-1-img-4.jpg" alt="" />
        </div>
      </li>
      <li>
        <div class="set-img-wrapper">
          <img src="../img/portfolio/set-1-img-3.jpg" alt="" />
        </div>
      </li>
    </ul>

    <button class="button js-button" type="button">Показати більше</button>
  </div>
</section>
