.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  position: relative;
  display: block;
  background-color: inherit;
  border: none;
  transform: scale(1);
  transition: transform var(--animation-fast);
}
.nav-logo:hover,
.nav-logo:focus {
  transform: scale(1.1);
  cursor: pointer;
}
.nav-logo-icon {
  width: 93px;
  height: 44px;
}
.menu-btn {
  background-color: transparent;
  border: none;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px 20px 32px 40px;
  height: 100vh;
  width: 180px;

  background-color: var(--bg-color);
  color: var(--hero-light-text-color);
}
.nav-item:not(:last-child) {
  margin-bottom: 93px;
}
.nav-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  transform: scale(1);
  transition: transform var(--animation-fast);
}
.nav-link:hover,
.nav-link:focus {
  transform: scale(1.05);
}

.mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  height: 100%;
  width: 100%;

  background-color: rgb(46, 47, 66, 0.4);

  transition: opacity var(--animation-fast), visibility var(--animation-fast);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu-close-btn {
  display: block;
  margin-bottom: 84px;
  margin-left: auto;
}
