.header {
  padding: 20px 0;
}

.nav-logo {
  background-color: inherit;
  border: none;
  transform: scale(1);
  transition: transform var(--animation-fast);
}
.nav-logo:hover,
.nav-logo:focus {
  transform: scale(1.1);
  cursor: pointer;
}
.nav-logo-icon {
  width: 93px;
  height: 44px;
}
