/* map section */
.map-section {
  padding: 56px 0 56px;

  background-color: var(--light-color);
}
@media screen and (min-width: 768px) {
  .map-section {
    padding: 32px 0;
  }
}
/* map list */
.map-list {
  text-align: center;
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .map-list {
    margin-bottom: 0;
  }
}
/* map list item */
.map-list-item:not(:last-child) {
  margin-bottom: 20px;
}
/* map list item text */
.map-text {
  color: rgb(0, 0, 0);
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .map-list-item:first-child .map-text {
    font-size: 24px;
  }
  .map-text {
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .map-list-item:first-child .map-text {
    font-size: 28px;
  }
  .map-list-item:not(:first-child) .map-text {
    font-size: 24px;
  }
}
/* iframe */
.iframe-map {
  width: 100%;
  height: 100%;
}

/* map thumb */
@media screen and (min-width: 768px) {
  .map-thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* map wrapper */
.map-wrapper {
  max-width: 500px;
  margin: 0 auto;
  height: 390px;
}
@media screen and (min-width: 768px) {
  .map-wrapper {
    max-width: 100%;
    width: 380px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .map-wrapper {
    max-width: 100%;
    width: 666px;
    height: 420px;
  }
}
