/* section */
.price {
  padding: 68px 0 106px;
  color: var(--light-color);
}
/* title */
.price .price-title {
  margin-bottom: 42px;
}
/* price thumb */
.price-thumb {
  display: flex;
  justify-content: space-between;
}
/* main list */
.price-list {
  counter-reset: count;
  margin-bottom: 42px;
}
@media screen and (min-width: 768px) {
  .price-list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .price-list {
    max-width: 668px;
  }
}
/*main list item */
.price-list-item {
  counter-increment: count;
}
.price-list-item:not(:last-child) {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .price-list-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

/* item title wrapper */
.price-list-title-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  border-bottom: 1px solid #a39b9b;
  margin-bottom: 12px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .price-list-title-wrapper {
    margin-bottom: 14px;
  }
}
/* subtitle */
.price-list-subtitle {
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .price-list-subtitle {
    font-size: 24px;
  }
}
.price-list-subtitle::before {
  content: '0' counter(count);
  display: inline-block;
  margin-right: 16px;
}
.price-list-item:nth-child(odd) .price-list-subtitle {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .price-list-item:nth-child(odd) .price-list-subtitle {
    text-align: left;
  }
}
/* description item */
.price-description-item {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 8px;

  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .price-description-item {
    padding: 0;
  }
}
.price-description-item:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .price-description-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

/* description text */
.description-text {
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .description-text {
    font-size: 20px;
    padding-right: 40px;
  }
}
.description-text--opt {
  flex-basis: 100%;
  margin-bottom: -2px;
}
@media screen and (min-width: 768px) {
  .description-text--opt {
    font-size: 20px;
    flex-basis: content;
  }
}
/* description line */
.description-line {
  position: relative;
  flex-grow: 1;
}
.description-line::after {
  position: absolute;
  bottom: 8px;
  content: '';
  display: inline-block;
  width: 100%;
  border: 1px dashed rgb(163, 155, 155);
}
@media screen and (min-width: 768px) {
  .description-line::after {
    bottom: 10px;
  }
}
/* description price */
.description-price {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 1.21;
}
@media screen and (min-width: 768px) {
  .description-price {
    font-size: 20px;
    flex-basis: 120px;
    text-align: right;
  }
}

.subtitle-list {
  display: flex;

  padding: 0 16px;
}
@media screen and (max-width: 359px) {
  .subtitle-list {
    flex-wrap: wrap;
    row-gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .subtitle-list {
    padding: 0;
  }
}
.subtitle-list-text {
  padding: 0 10px;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 1.21;
}
@media screen and (min-width: 768px) {
  .subtitle-list-text {
    padding: 0 22px;
    font-size: 18px;
  }
  .subtitle-list-item:first-child .subtitle-list-text {
    padding: 0 22px 0 0;
  }
}
.subtitle-list-item:not(:last-child) {
  border-right: 1px solid var(--light-color);
}
/* group title */
.price-list-group-title {
  margin-bottom: 12px;
  padding: 0 27px 0 51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.price-list-group-title--secondary {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .price-list-group-title {
    padding: 0;
    margin-bottom: 24px;
    font-size: 24px;
    text-align: left;
  }
}

.price-list-group {
  margin-bottom: 24px;
}

/* text wrapper optional */
@media screen and (min-width: 768px) {
  .text-wrapper {
    display: flex;
    gap: 4px;
  }
}

/* button */
.price .price-button {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .price .price-button {
    margin: 0;
  }
}

/* img list */
.price-img-list {
  padding-right: 115px;
}
@media screen and (max-width: 1439px) {
  .price-img-list {
    display: none;
  }
}
/* img list item */
.price-img-item {
  position: relative;
  width: min-content;
}
.price-img-item:not(:last-child) {
  margin-bottom: 124px;
}
.price-img-item:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transform: translate(115px, -20px);
  background-color: var(--bg-secondary-color);
}
/* price img thumb */
.price-img-thumb {
  width: 320px;
  height: 360px;
  border-radius: 8px;
  overflow: hidden;
}
