/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./container.css');
@import url('./variables');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./portfolio.css');
@import url('./price.css');
:root {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: var(--bg-color);
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}
.section-title {
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 24px;
  text-align: center;
}
.section-title-light {
  color: var(--about-light-text-color);
}
.section-title-dark {
  color: var(--dark-color);
}
