/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./container.css');
@import url('./variables');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./portfolio.css');
@import url('./price.css');
@import url('./map.css');
@import url('./footer.css');

:root {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
body {
  background-color: var(--bg-color);
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}
/**
  |============================
  | SECTION TITLE
  |============================
*/
.section-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 36px;
  }
}
.section-title-light {
  color: var(--about-light-text-color);
}
.section-title-dark {
  color: var(--dark-color);
}
/**
  |============================
  | BUTTON
  |============================
*/
.button {
  display: inline-block;

  width: 100%;
  padding: 16px 24px;
  border: 1px solid var(--active-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgb(210, 201, 190);
  background-color: var(--active-color);

  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
}
.button--light {
  border: 1px solid var(--light-color);
  background-color: transparent;
}
.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.35);
}
.button:focus {
  outline-offset: 4px;
  outline-color: var(--active-color);
}
.button:active {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
